.li-ui-comp-search_results {
  margin-top: 8px;
  font-size: 1.4em;
  color: #606060;
  background-color: white;
}
.li-ui-comp-search_results ul {
  padding: 0;
  margin: 0 0 16px 0;
}
.li-ui-comp-search_results li {
  margin: 0;
  list-style-type: none;
}
.li-ui-comp-search_results li a {
  display: block;
  padding: 10px;
  color: #606060;
  text-decoration: none;
}
.li-ui-comp-search_results li a:hover {
  text-decoration: underline;
}
.ls-ui-comp-search_results-more {
  display: none;
  width: 100%;
  padding: 10px 0;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  color: #606060;
  background-color: #e6e6e6;
  border: none;
}
.active {
  display: block;
}
