.ls-ui-comp-close_button {
  width: @button-height;
  height: @button-height;
  padding: 0;
  text-indent: -9999px;
  cursor: pointer;
  background: transparent url("@{sprite-x1}") -1px -45px no-repeat;
  border: none;
}
