.ls-ui-comp-close_button {
  cursor: pointer;
  width: 36px;
  height: 36px;
  border: none;
  text-indent: -9999px;
  background: transparent url("@{img-root}/controller/overlay_close_icon.png") 2px 3px no-repeat;
}
