.ls-ui-comp-geolocation {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  font-size: @font10;
  cursor: pointer;
  background: @bg-color;
  border: 0 none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;

  .ls-ui-comp-geolocation-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: @button-height;
    height: @button-height;
    background: url("@{asset-path}/geolocation/geolocation.png") no-repeat center center;
  }

  .ls-ui-comp-geolocation-label {
    display: block;
    height: @button-height;
    padding: 0 10px 0 0;
    margin: 0 @button-height 0 0;
    font-size: @font13;
    line-height: @button-height;
    color: @text-light-colour;
  }
}

.ls-ui-comp-geolocation::-moz-focus-inner {
  padding: 0;
  margin: 0;
}
