.ls-ui-comp-search {
  position: relative;
  margin: 0;

  .ls-ui-container {
    margin: 0 @button-height 0 0;
  }

  .ls-ui-input {
    display: block;
    width: 100%;
    height: @button-height;
    padding: 10px 8px;
    margin: 0 @button-height 0 0;
    font-size: @font14;
    background: @ls-ui-input-background;
    border: none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
  }

  .ls-ui-input-clear {
    position: absolute;
    top: -2px;
    right: 38px;
    display: none;
    width: 44px;
    height: 44px;
    padding: 0;
    margin-top: 2px;
    text-indent: -10000px;
    background-image: url("@{sprite-x1}");
    background-position: 0 -92px;
    background-repeat: no-repeat;
  }

  .ls-ui-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: @button-height;
    height: @button-height;
    padding: 0;
    text-indent: -9999px;
    cursor: pointer;
    background-color: @ls-ui-input-background;
    background-image: url("@{sprite-x1}");
    background-position: 0 -460px;
    background-repeat: no-repeat;
    border: none;
  }

  .bordered {
    border: 1px solid darken(@ls-ui-border-color, 10%);

    .ls-ui-submit {
      top: 1px;
      right: 1px;
    }
  }
}

.ls-ui-comp-search-with-term {
  .ls-ui-input-clear {
    display: block;
  }
}
