@import '../_variables';

#orb-modules {
  .travel & {
    min-height: 600px;
    background: url("@{img-root}/example/travel-background.jpg") no-repeat;
  }
}

body {
  .active-page {
    background: white;
  }
}
