.ls-ui-comp-dialog {
  height: 44px;
}
.ls-ui-comp-dialog p {
  float: left;
  max-width: 280px;
  display: block;
}
.ls-ui-comp-dialog-buttons {
  float: right;
}
.ls-ui-comp-dialog span {
  width: 100px;
}

@media (min-width: 618px) {
  .ls-ui-comp-dialog p {
    max-width: 310px;
  }
}
@media (min-width: 668px) {
  .ls-ui-comp-dialog p {
    max-width: 380px;
  }
}
@media (min-width: 718px) {
  .ls-ui-comp-dialog p {
    max-width: 430px;
  }
}
@media (min-width: 768px) {
  .ls-ui-comp-dialog p {
    max-width: 480px;
  }
}
@media (min-width: 818px) {
  .ls-ui-comp-dialog p {
    max-width: 530px;
  }
}
@media (min-width: 868px) {
  .ls-ui-comp-dialog p {
    padding-top: 12px;
    max-width: 580px;
  }
}
@media (min-width: 976px) {
  .ls-ui-comp-dialog p {
    max-width: 700px;
  }
}