.ls-ui-comp-user_locations {

  p {
      padding: 8px;
      margin: 0;
      color: @font-color;
  }

  ul {
      padding: 0;
      margin: 4px 0 16px 0;
      border-top: 1px solid @ls-ui-border-color;
  }

  li {
      margin: 0;
      list-style-type: none;
      border-bottom: 1px solid @ls-ui-border-color;
  }

}

.ls-ui-comp-user_locations-message,
.ls-ui-comp-user_locations-heading {
  font-size: @font14;
  line-height: 1.3;
}

.ls-ui-comp-user_locations-preferred-no-location {
  margin-bottom: 16px;
}

.ls-ui-comp-user_locations li {
    position: relative;
    padding: 14px 29px 14px 8px;
}

.ls-ui-comp-user_locations-with_preferable li {
  padding-left: 43px;
}

.ls-ui-comp-user_locations-action {
    position: absolute;
    top: 11px;
    left: 7px;
    width: 25px;
    height: 25px;
    padding: 0;
    text-indent: -10000px;
    background: url("@{sprite-x1}") no-repeat -10px -378px;
}
.ls-ui-comp-user_locations-location-preferred .ls-ui-comp-user_locations-action {
    background: url("@{sprite-x1}") no-repeat -10px -10px;
}
.ls-ui-comp-user_locations-name {
    font-size: @font15;
    line-height: 1.4;
    color: @font-color;
    text-decoration: none;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
}
.ls-ui-comp-user_locations-remove {
    position: absolute;
    top: 11px;
    right: 5px;
    width: 24px;
    height: 24px;
    padding: 0;
    margin-top: 2px;
    text-indent: -10000px;
    background: url("@{sprite-x1}") no-repeat -11px -102px;
}

/* dialog */

.ls-ui-comp-user_locations .ls-ui-comp-user_locations-location-with-dialog {
  padding: 0;
}
.ls-ui-comp-user_locations-location-with-dialog a {
  display: none;
}
