.ls-ui-ctrl-primary {
  padding: 20px 8px;

  .ls-ui-o {
    .ls-ui-hidden {
      display: none;
    }
  }

  .ls-ui-o {
    position: relative;
  }

  .locservices-ui-component-geolocation {
    display: none;
  }

  .ls-ui-comp-userLocations {
    display: none;
  }

  .ls-ui-close {
    display: none;
    position: absolute;
    top: -84px;
    right: 0;
    cursor: pointer;
    width: 36px;
    height: 36px;
    border: none;
    text-indent: -9999px;
    background: transparent url("@{img-root}/controller/overlay_close_icon.png") 2px 3px no-repeat;
  }
}

.ls-ui-ctrl-active {
  background: white;

  .ls-ui-close {
    display: block;
  }

  .site-name {
    color: @font-title-active-color;
  }

  .ls-ui-comp-search {
    .ls-ui-input, .ls-ui-submit {
      background-color: @ls-ui-input-background;
    }
  }

  .ls-ui-comp-userLocations {
    display: block;
  }
}

.li-ui-ctrl-geolocation {
  .ls-ui-ctrl-primary-search {
    margin-top: 83px;
  }
  .locservices-ui-component-geolocation {
    position: absolute;
    display: block;
    margin-bottom: 8px;
    top: -43px;
  }
}
