.ls-ui-ctrl-primary {

  .ls-ui-wrap {
    margin: 5px 0 0 240px;
  }

  .ls-ui-message {
    margin: 0 82px 0 240px;
  }
  .ls-ui-search-results {
    margin: 0 82px 0 240px;
  }
}

.li-ui-ctrl-geolocation {
  .ls-ui-wrap {
    margin-right: 41px;
  }
  .locservices-ui-component-geolocation {
    top: 0;
    right: 0;
  }

  &.ls-ui-ctrl-active {
    .ls-ui-wrap {
      margin-right: 82px;
    }

    .locservices-ui-component-geolocation {
      position: absolute;
      top: 0;
      right: 41px;
    }

    .ls-ui-close {
      top: 0;
      right: 0;
    }
  }
}

.ls-ui-ctrl-active {
}

.site-name {
  position: absolute;
  top: -5px;
}
