.ls-ui-ctrl-primary {

  .ls-ui-ctrl-primary-search {
    margin: 5px 0 0 0;
  }

  .ls-ui-comp-close_button {
    top: 0;
    right: 0;
  }
}

.ls-ui-ctrl-active {

  .ls-ui-ctrl-primary-search {
    margin-right: 52px;
  }
}

.ls-ui-ctrl-open {
  .ls-ui-ctrl-primary-search {
    margin-right: 0;
  }
}


.li-ui-ctrl-geolocation {
  .ls-ui-ctrl-primary-search,
  .li-ui-comp-search_results,
  .ls-ui-comp-message,
  .ls-ui-comp-auto_complete {
    margin-right: 52px;
  }

  .ls-ui-comp-geolocation {
    top: 0;
    right: 0;
  }

  &.ls-ui-ctrl-active {
    .ls-ui-ctrl-primary-search,
    .li-ui-comp-search_results,
    .ls-ui-comp-message,
    .ls-ui-comp-auto_complete {
      margin-right: 104px;
    }

    .ls-ui-comp-geolocation {
      position: absolute;
      top: 0;
      right: 50px;
    }
  }

  &.ls-ui-ctrl-open {
    .ls-ui-ctrl-primary-search,
    .li-ui-comp-search_results,
    .ls-ui-comp-message,
    .ls-ui-comp-auto_complete {
      margin-right: 52px;
    }

    .ls-ui-comp-geolocation {
      right: 0;
    }
  }
}
