.li-ui-comp-search_results {
  margin-top: 8px;
  font-size: @font14;
  color: @font-color;
  background-color: @white;

  ul {
    padding: 0;
    margin: 0 0 16px 0;

  }

  li {
    margin: 0;
    list-style-type: none;

    a {
      display: block;
      padding: 10px;
      color: @font-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.ls-ui-comp-search_results-more {
  display: none;
  width: 100%;
  padding: 10px 0;
  font-size: @font10;
  font-weight: bold;
  color: @font-color;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-color: @ls-ui-input-background;
  border: none;
}

.ls-ui-comp-search_results-active {
  display: block;
}
